{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body" id="options-panel">
          <div>
            <h4>Hotels</h4>
            <select data-type="hotel" id="hotel-choices">
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Restaurants</h4>
            <select data-type="restaurant" id="restaurant-choices">
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Activities</h4>
            <select data-type="activity" id="activity-choices">
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h3>
        <span id="day-title">
          <span>Day 2</span>
          <button class="btn btn-xs btn-danger remove btn-circle">x</button>
        </span>
      </h3>
      <div class="panel panel-default" id="itinerary-parent">
        <div class="panel-heading">
          <div class="day-buttons">
            <button class="btn btn-circle day-btn">1</button>
            <!--  <button class="btn btn-circle day-btn current-day">2</button> -->
            <!--<button class="btn btn-circle day-btn">3</button> -->
            <button class="btn btn-circle day-btn" id="day-add">+</button>
          </div>
        </div>
        <div class="panel-body" id="itinerary">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group">
              <div id="hotel-itinerary" class="itinerary-item">
              </div>
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group">
              <div id="restaurant-itinerary" class="itinerary-item">
              </div>
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group">
              <div id="activity-itinerary" class="itinerary-item">
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var hotels = {{ hotels | dump | safe }};
  var restaurants = {{ restaurants | dump | safe }};
  var activities = {{ activities | dump | safe }};
  var places = {{ places | dump | safe }};
  $(document).ready(function() {
    // console.log("hotels", hotels)
    // console.log("places", places)
    hotels.forEach(hotel => {
      let option = $('<option value="' + hotel.id + '">' + hotel.name + '</option>')
      $('#hotel-choices').append(option)
    })
    restaurants.forEach(restaurant => {
      let option = $('<option value="' + restaurant.id + '">' + restaurant.name + '</option>')
      $('#restaurant-choices').append(option)
    })
    activities.forEach(activity => {
      let option = $('<option value="' + activity.id + '">' + activity.name + '</option>')
      $('#activity-choices').append(option)
    })
    var placeArray = [];



    $('#day-add').on('click' ,function(){
      var btnNum = $('.day-buttons .btn').length;
      $('.day-buttons').append('<button class="btn btn-circle day-btn" id='+btnNum+'>'+btnNum+'</button>')
      $('#day-add').insertAfter("#"+btnNum+"")
      $('#itinerary').clone().attr("id", "TESTID").appendTo("#itinerary-parent")
    })




    var onBtnClick = function(placeName) {

        $('#' + placeName + '-choices:nth-child(2)').next().on('click', function() {
                var plural;
                if (placeName === "activity") {
                    plural = activities;
                } else if(placeName === "hotel"){
                    plural = hotels;
                } else if(placeName === "restaurant"){
                    plural = restaurants;
                }
                  let selected = $('#' + placeName + '-choices option:selected').text()
                  let selectedId = $('#' + placeName + '-choices').val()

                  
                  var addItemId = places[plural[selectedId].placeId].id;
                  var addItem = places[plural[selectedId].placeId];

                  var repeats = placeArray.filter(function(elem){

                    return elem.id===addItemId;
                  })
                  console.log("repeats", repeats);
                if(!repeats.length){

                  $('#' + placeName + '-itinerary').append('<span class="title">' + selected + '</span><button class="btn btn-xs btn-danger remove btn-circle">x</button>')
                  $('.btn.btn-xs.btn-danger.remove.btn-circle').on('click', function(){
                    $(event.target).prev().remove();
                    $(event.target).remove();
                  })


                  placeArray.push({id: addItemId ,place: addItem});
                  console.log("placeArray", placeArray);               
                  let geo = places[plural[selectedId].placeId].location
                  let myLatLng = {
                      lat: geo[0],
                      lng: geo[1]
                  }



                  let map = new google.maps.Map(document.getElementById('map-canvas'), {
                      zoom: 17,
                      center: myLatLng
                  })
                  var marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map
                  })
              }
            })

        }

      onBtnClick("activity");
      onBtnClick("hotel");
      onBtnClick("restaurant");

  })
</script>
{% endblock %}
